<h1 class="mb-3">About Me</h1> 

<img src="/images/emmanuel.png" alt="Emmanuel Uzoma-Akonye" class="img-fluid rounded shadow-sm mb-3" width="250">

<p>CHUBBY FINE SHYT</p>
<p>Hello! My name is <strong> Emmanuel Uzoma-Akonye</strong>. I am a second year student who enjoys playing games, watching movies and hanging out with friends. If i'm being honest, I sometimes enjoy web development but i find it stressful sometimes but that's okay.</p>

<ul class="list-group my-3">
  <li class="list-group-item">Focused on: UI/UX, Web Development, EJ and html related work and Databases.</li>
  <li class="list-group-item">Tools I’m learning: HTML, CSS, JavaScript, Node.js, Express, EJS, etc.</li>
  <li class="list-group-item">Goal: I make clean, fluid and responsive websites using the tools mentioned earlier.</li>
</ul>
<p class="mb-0">This site is made with <strong>ExpressJS</strong> and <strong>EJS</strong>, and styled with <strong>Bootstrap</strong>.</p>
        