<h1 class="mb-3">Contact Me</h1>

<p>If you’d like to reach out for inquiries or questions, please fill out the form below. I’d love to help and hear from you .</p>

<form class="row g-3" method="post" action="/contact">
  <div class="col-md-6">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" required>
  </div>

  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input type="email" name="email" class="form-control" required>
  </div>

  <div class="col-12">
    <label class="form-label">Message</label>
    <textarea name="message" rows="4" class="form-control" required></textarea>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">
      <i class="fa-regular fa-paper-plane"></i> Send
    </button>

  </div>
</form>
