<div class="p-4 p-md-5 bg-white rounded shadow-sm">
  <h1 class="display-5 fw-bold">Hi, I'm Emmanuel Uzoma-Akonye</h1>
  <p class="lead">I welcome you to my portfolio website built with ExpressJS and EJS.</p>
  <a href="/projects" class="btn btn-primary btn-lg mt-3">
    <i class="fa-solid fa-rocket"></i> View My Projects

  </a>
</div>
